/* General styling for the body */
.body {
  background-image: url(images/background.jpg);
  background-size: cover;
  font-family: Arial, sans-serif;
  color: #fff;
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

/* Styling for the container holding the login form */
.container {
  /* width: 100%; */
  max-width: 400px;
  margin: 130px auto;
  padding: 50px;
  border-radius: 8px;
  border: 1px solid #fff;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.3);
}

/* Styling for the login form heading */
.login-head {
  text-align: center;
  padding-top: 0px;
  padding-bottom: 10px;
}

/* Styling for form groups (input fields) */
.form-group {
  margin-bottom: 20px;
}

/* Styling for input fields (text, email, tel, password) */
input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"] {
  width: 95%;
  padding: 10px;
  font-size: 16px;
  border-radius: 4px;
  border: 1px solid #fff;
  outline: none;
  background-color: transparent;
  color: white;
}

/* Styling for input placeholders */
input::placeholder {
  opacity: 0.5;
  color: white;
}

/* Styling for the submit button */
button[type="submit"] {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border-radius: 4px;
  border: none;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}

/* Styling for the submit button on hover */
button[type="submit"]:hover {
  background-color: #0056b3;
}

/* Styling for text paragraphs */
p {
  text-align: center;
}

/* Styling for links in paragraphs */
p a {
  color: white;
}

/* Styling for links on hover in paragraphs */
p a:hover {
  color: #0056b3;
}

/* Styling for small elements */
small {
  color: rgb(254, 153, 153);
}

/* Styling for message elements (e.g., error messages) */
.message {
  color: red;
}
