.body2 {
  background-image: url(images/background.jpg);
  background-size: cover;
  /* background: linear-gradient(to right, #333, #111); */
  font-family: Arial, sans-serif;
  color: #fff;
  height: 100vh; /* Set height to 100% of viewport height */
  display: flex; /* Use flexbox to center the .container */
  align-items: center; /* Center vertically */
  justify-content: center; /* Center horizontally */
  }
  
.container {
    /* width: 100%; */
    max-width: 400px;
    margin: 40px auto;
    padding: 40px;
    /* background-color: rgba(255, 255, 255, 0.2); */
    border-radius: 8px;
    border: 1px solid #fff;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.3);
  }
  
  h2 {
    text-align: center;
    padding-top: 0px;
    padding-bottom: 10px;
    /* font-size: 0px; */
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="tel"],
  input[type="password"] {
    width: 95%;
    padding: 10px;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid #fff;;
    outline:none;
    background-color: transparent;
    color:white;

  }

  input::placeholder{
    opacity: 0.5;
    color: #fff;;
  }
  
  button[type="submit"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 4px;
    border: none;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: #0056b3;
  }
  
  p {
    text-align: center;
  }
  

p a{
    color: white;
}

p a:hover{
    color: #0056b3;
}

small{
    color:rgb(254, 153, 153);
    
}